body{
	background-color:#F8F8FF;
}

#wrapper{
	width:80%;
	margin:0 auto;
	border:5px solid red;
}

#header{
	border:5px solid blue;
}

#quiz{
	border:5px solid green;
}

#title{
	text-align:center;
	font-weight:bold;
	font-size:2em;
	margin:0 auto;
}

.sub-heading{
	text-decoration:underline;
	font-size:1.4em;
	margin:0 auto;
}

.description{
	font-size:1.2em;
	margin-top:2px;
}

.question{
	margin-bottom:2px;
}

.feedback{
	background-color:red;
	margin-left:20px;
	margin-top:5px;
	margin-bottom:1px;
}

.align-center{
	text-align:center;
}

#submit_button{
	width:20em;
	height:2em;
}

#label{
	margin: 0 auto;
}